Stardew Valley Cooking Database

First step is to import pandas to create our dataframes, and IPython's display module to print actual tables.

In [1]:
import pandas as pd
from IPython.display import display

Next we want to create some helper functions for converting our datatypes as pandas initially writes all data as a dtype 'object'

In [2]:
def to_float(data_frame, columns):
    for ele in columns:
        data_frame[ele] = data_frame[ele].astype(float)
def to_int(data_frame, columns):
    for ele in columns:
        data_frame[ele] = data_frame[ele].astype(int)

Now we need to configure pandas to not truncate our dataframes in any print calls.

In [3]:
pd.set_option('display.max_columns', None)

Next we will import all of our data in CSV format and create some dataframes!

In [4]:
spring = pd.read_csv('file_path\Spring Vegtables.csv')
summer = pd.read_csv('file_path\Summer Vegtables.csv')
fall = pd.read_csv('file_path\Fall Vegtables.csv')
winter = pd.read_csv('file_path\Winter Vegtables.csv')
fish = pd.read_csv('file_path\Fish Only.csv')

Now that all of our dataframes are established we need to do some cleaning and formatting to make them easier to query.

To start we need to replace any 'Null' values with a number to allow for proper arithmatic calculations.

In [5]:
spring.replace('Null', '0', inplace=True, regex=True)
summer.replace('Null', '0', inplace=True, regex= True)
fall.replace('Null', '0', inplace=True, regex= True)
winter.replace('Null', '0', inplace= True, regex= True)

Our 'fish' dataframe doesn't contain any 'Null' values so we are set there. Now we can go do individual clean up on each of the dataframes as needed.

We will start by fixing some mixed matched values in the 'spring' dataframe and correcting a spelling error in a column name.

In [6]:
spring.replace('150 (30)', '30', inplace=True, regex=False)
spring.rename(columns={'Catagory' : 'Category'}, inplace=True)

Now that we have that taken care of we need to format the datatypes to be either 'integers' or 'floats'. We can check our dataframe's dtypes and then adjust using our helper functions as needed.

In [7]:
print(spring.dtypes)

Item                     object
Category                 object
Base                      int64
Silver                    int64
Gold                      int64
Iridium                   int64
Tiller Base              object
Tiller Silver            object
Tiller Gold              object
Tiller Iridium           object
Keg                      object
Keg Artisan              object
Preserve Jar             object
Preserve Jar Artisan    float64
Dehydrator               object
Dehydrator Artisan       object
dtype: object

Using the above statement we can see that there are a jumble of data types most of which are objects where they should be floats. To change our dtypes we it will be easier to predefine the column names in a list before passing them through our datatype function call.

In [8]:
columns = ['Dehydrator Artisan', 'Dehydrator', 'Preserve Jar', 'Keg Artisan', 'Keg', 'Tiller Gold', 'Tiller Silver', 'Tiller Base', 'Tiller Iridium']

Now we can use our above helper function and cast all of our columns as floats. We will print out the datatypes again to make sure our function worked as intended.

In [9]:
to_float(spring, columns)
print(spring.dtypes)

Item                     object
Category                 object
Base                      int64
Silver                    int64
Gold                      int64
Iridium                   int64
Tiller Base             float64
Tiller Silver           float64
Tiller Gold             float64
Tiller Iridium          float64
Keg                     float64
Keg Artisan             float64
Preserve Jar            float64
Preserve Jar Artisan    float64
Dehydrator              float64
Dehydrator Artisan      float64
dtype: object

From here we can just rinse and repeat the above cleaning process for each dataframe with small individual changes as needed.

In [10]:
summer.replace('Null', '0', inplace=True, regex= True)
summer.rename(columns={'Catagory' : 'Category'}, inplace=True)

to_float(summer, columns)

summer['Preserve Jar Artisan'] = summer['Preserve Jar Artisan'].astype(float)

fall.replace('Null', '0', inplace=True, regex= True)
fall.rename(columns={'Catagory' : 'Category'}, inplace= True)

to_float(fall, columns)
fall['Preserve Jar Artisan'] = fall['Preserve Jar Artisan'].astype(float)

winter.replace('Null', '0', inplace= True, regex= True)
winter.rename(columns={'Catagory': 'Category'}, inplace= True)

to_float(winter, columns)
winter['Preserve Jar Artisan'] = winter['Preserve Jar Artisan'].astype(float)

Now that our first four dataframes are cleaned and organized we can merge them together to create a massive dataframe that we will do a majority of our querying from.

In [11]:
merged_veg = pd.concat([spring, summer, fall, winter])

Finally I want to save all of my dataframes to disk, but in parquet format so that they maintain their column storage. This will also make queries run slightly faster. This isn't necessary for small data like this, but is good practice for larger data sets.

In [12]:
spring.to_parquet('file_path\Spring Vegetable.parquet',engine='fastparquet')
summer.to_parquet('file_path\Summer Vegetables.parquet',engine='fastparquet')
fall.to_parquet('file_path\Fall Vegetables.parquet',engine='fastparquet')
winter.to_parquet('file_path\Winter Vegetables.parquet', engine='fastparquet')
merged_veg.to_parquet('file_path\Merged Vegetables.parquet', engine='fastparquet')

Before we move onto the 'fish' dataframe lets view what we have done so far with our display module.(We will only print the smaller dataframes we made first.)

In [13]:
display(spring)
display(summer)
display(fall)
display(winter)

,Item,Category,Base,Silver,Gold,Iridium,Tiller Base,Tiller Silver,Tiller Gold,Tiller Iridium,Keg,Keg Artisan,Preserve Jar,Preserve Jar Artisan,Dehydrator,Dehydrator Artisan
0,Carrot,Vegtable,35,43,52,70,38.5,47.3,57.2,77.0,78.75,121.275,120.0,127.0,0.0,0.0
1,Cauliflower,Vegtable,175,218,262,350,192.5,239.8,288.2,385.0,393.75,606.375,400.0,435.0,0.0,0.0
2,Garlic,Vegtable,60,75,90,120,66.0,82.5,99.0,132.0,135.00,207.900,170.0,182.0,0.0,0.0
3,Green Bean,Vegtable,40,50,60,80,44.0,55.0,66.0,88.0,90.00,138.600,130.0,138.0,0.0,0.0
4,Kale,Vegtable,110,137,165,220,121.0,150.7,181.5,242.0,247.50,381.150,270.0,292.0,0.0,0.0
5,Parsnip,Vegtable,35,43,52,70,38.5,47.3,57.2,77.0,78.75,121.275,120.0,127.0,0.0,0.0
6,Potato,Vegtable,80,100,120,160,88.0,110.0,132.0,176.0,180.00,277.200,210.0,226.0,0.0,0.0
7,Unmilled Rice,Vegtable,30,37,45,60,33.0,40.7,49.5,66.0,67.50,103.950,110.0,116.0,0.0,0.0
8,Rhubarb,Fruit,220,275,330,440,242.0,302.5,363.0,484.0,660.00,1016.400,490.0,534.0,335.0,515.2
9,Strawberry,Fruit,120,150,180,240,132.0,165.0,198.0,264.0,360.00,554.400,290.0,314.0,185.0,284.2
10,Salmonberry,Fruit,5,6,7,10,0.0,0.0,0.0,0.0,15.00,21.000,60.0,84.0,12.5,17.5
11,Wild Horseradish,Foraged,50,62,75,100,0.0,0.0,0.0,0.0,112.00,156.800,150.0,210.0,0.0,0.0
12,Coffee Bean,Foraged,15,18,22,30,16.5,19.8,24.2,33.0,30.00,30.000,0.0,83.0,0.0,0.0
13,Leek,Foraged,60,75,90,120,0.0,0.0,0.0,0.0,135.00,189.000,170.0,238.0,0.0,0.0
14,Spring onion,Foraged,8,10,12,16,0.0,0.0,0.0,0.0,18.00,25.200,66.0,92.4,0.0,0.0
15,Dandelion,Foraged,40,50,60,80,0.0,0.0,0.0,0.0,90.00,126.000,130.0,182.0,0.0,0.0

,Item,Category,Base,Silver,Gold,Iridium,Tiller Base,Tiller Silver,Tiller Gold,Tiller Iridium,Keg,Keg Artisan,Preserve Jar,Preserve Jar Artisan,Dehydrator,Dehydrator Artisan
0,Fiddlehead Fern,Vegtable,90,112,135,180,0.0,0.0,0.0,0.0,202.50,378.000,230.0,322.0,0.0,0.0
1,Corn,Vegtable,50,62,75,100,55.0,68.2,82.5,110.0,112.50,173.250,150.0,160.0,0.0,0.0
2,Hops,Vegtable,25,31,37,50,27.5,34.1,40.7,55.0,300.00,86.625,100.0,105.0,0.0,0.0
3,Radish,Vegtable,90,112,135,180,99.0,123.2,148.5,198.0,202.50,311.850,230.0,248.0,0.0,0.0
4,Red Cabbage,Vegtable,260,325,390,520,286.0,357.5,429.0,572.0,585.00,900.900,570.0,622.0,0.0,0.0
5,Summer Squash,Vegtable,45,56,67,90,49.5,61.6,73.7,99.0,101.25,155.925,140.0,149.0,0.0,0.0
6,Tomato,Vegtable,60,75,90,120,66.0,82.5,99.0,132.0,135.00,207.900,170.0,182.0,0.0,0.0
7,Wheat,Vegtable,25,31,37,50,27.5,34.1,40.7,55.0,200.00,86.625,100.0,105.0,0.0,0.0
8,Hot Pepper,Fruit,40,50,60,80,44.0,55.0,66.0,88.0,120.00,184.800,130.0,138.0,65.0,99.4
9,Melon,Fruit,250,312,375,500,275.0,343.2,412.5,550.0,750.00,1155.000,550.0,600.0,380.0,584.5
10,Starfruit,Fruit,750,937,1125,1500,825.0,1030.7,1237.5,1650.0,2250.00,3465.000,1550.0,1700.0,1130.0,1739.5
11,Blueberry,Fruit,50,62,75,100,55.0,68.2,82.5,110.0,150.00,231.000,150.0,160.0,80.0,122.5
12,Spice berry,Fruit,80,100,120,160,0.0,0.0,0.0,0.0,180.00,336.000,210.0,294.0,125.0,175.0
13,Sunflower,Foraged,80,100,120,160,88.0,110.0,132.0,176.0,0.00,0.000,0.0,0.0,0.0,0.0

,Item,Category,Base,Silver,Gold,Iridium,Tiller Base,Tiller Silver,Tiller Gold,Tiller Iridium,Keg,Keg Artisan,Preserve Jar,Preserve Jar Artisan,Dehydrator,Dehydrator Artisan
0,Amaranth,Vegtable,150,187,225,300,165.0,205.7,247.5,330.0,337.5,519.75,350.0,380.0,0.0,0.00
1,Artichoke,Vegtable,160,200,240,320,176.0,220.0,264.0,352.0,360.0,554.40,370.0,402.0,0.0,0.00
2,Beet,Vegtable,100,125,150,200,110.0,137.5,165.0,220.0,225.0,346.50,250.0,270.0,0.0,0.00
3,Bok Choy,Vegtable,80,100,120,160,88.0,110.0,132.0,176.0,180.0,277.20,210.0,226.0,0.0,0.00
4,Broccoli,Vegtable,70,87,105,140,77.0,95.7,115.5,154.0,157.5,242.55,190.0,204.0,0.0,0.00
5,Eggplant,Vegtable,60,75,90,120,66.0,82.5,99.0,132.0,135.0,207.90,170.0,182.0,0.0,0.00
6,Pumpkin,Vegtable,320,400,480,640,352.0,440.0,528.0,704.0,720.0,1108.80,690.0,754.0,0.0,0.00
7,Yam,Vegtable,160,200,240,320,176.0,220.0,264.0,352.0,360.0,554.40,370.0,402.0,0.0,0.00
8,Cranberries,Fruit,75,93,112,150,82.5,102.3,123.2,165.0,225.0,346.50,200.0,215.0,117.5,180.25
9,Grape,Fruit,80,100,120,160,88.0,110.0,132.0,176.0,240.0,369.60,210.0,226.0,120.0,168.00
10,Wild Plum,Fruit,80,100,120,160,0.0,0.0,0.0,0.0,240.0,336.00,210.0,294.0,125.0,175.00
11,Blackberry,Fruit,20,25,30,40,0.0,0.0,0.0,0.0,60.0,84.00,90.0,126.0,35.0,49.00

,Item,Category,Base,Silver,Gold,Iridium,Tiller Base,Tiller Silver,Tiller Gold,Tiller Iridium,Keg,Keg Artisan,Preserve Jar,Preserve Jar Artisan,Dehydrator,Dehydrator Artisan
0,Powdermelon,Fruit,60,75,90,120,66.0,82.5,99.0,132.0,180.0,277.2,170.0,238.0,95.0,145.6
1,Crystal fruit,Fruit,150,187,225,300,0.0,0.0,0.0,0.0,450.0,630.0,350.0,490.0,230.0,322.0
2,Winter root,Foraged,70,87,105,140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Snow Yam,Foraged,100,125,150,200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

As we can see, everything looks nice and clean and ready to either be queried with pandas or exported to SQL for further storage and querying.

The next dataframe is a bit tricky. Within the imported CSV there are duplicated column names due to color formatting not being carried over to pandas. Pandas will allow duplicated and hardcodes a '.n' to any number of duplicated column names. To solve this in the most straightforward manner We need to split our dataframe up into smaller dataframes and then go about renaming the columns as needed.

The first step is cleaning the data as much as we can before splitting the dataframe up.

In [14]:
columns1 = [x for x in fish.columns if x != 'Name']
to_float(fish, columns1)

The above code allows up to transfer all of our column datatypes to floats except for the 'Name' column. This appears to be the only cleaning that needs to be done. Time to split this up into smaller chunks.

In [15]:
fish1 = fish[['Name', 'Base.1', 'Silver.1', 'Gold .1', 'Iridium.1', 'Fisher Base.1', 'Fisher Silver.1', 'Fisher Gold.1', 'Fisher Iridium.1', 'Angler Base.1', 'Angler silver.1',
       'Angler gold.1', 'Angler Iridium.1']]
fish2 = fish[['Name', 'Base.2', 'Silver.2', 'Gold .2',
       'Iridium.2', 'Fisher Base.2', 'Fisher Silver.2', 'Fisher Gold.2',
       'Fisher Iridium.2', 'Angler Base.2', 'Angler silver.2', 'Angler gold.2',
       'Angler Iridium.2']]
fish = fish[['Name', 'Base', 'Silver', 'Gold ', 'Iridium', 'Fisher Base',
       'Fisher Silver', 'Fisher Gold', 'Fisher Iridium', 'Angler Base',
       'Angler silver', 'Angler gold', 'Angler Iridium']]

This is a bit clunky and can probably be optimized later on, however for now it works. We define 2 new dataframes by 'splitting off' appropriately named column names. From there we can then drop the split off columns from our original 'fish' dataframe. Now we can rename the columns. I tried creating a function to split the column names and then rename them, but I couldn't get the correct formatting I needed. I will attempt to refactor the code to make this process simpler going forward.

In [16]:
fish1 = fish1.rename(columns={'Base.1': 'Base Smoker', 'Silver.1': 'Silver Smoker', 'Gold .1': 'Gold Smoker', 'Iridium.1': 'Iridium Smoker', 'Fisher Base.1': 'Fisher Base Smoker', 'Fisher Silver.1': 'Fisher Silver Smoker', 'Fisher Gold.1': 'Fisher Gold Smoker', 'Fisher Iridium.1': 'Fisher Iridium Smoker', 'Angler Base.1': 'Angler Base Smoker', 'Angler silver.1': 'Angler Silver Smoker',
       'Angler gold.1': 'Angler Gold Smoker', 'Angler Iridium.1': 'Angler Iridium Smoker'})
fish2 = fish2.rename(columns={'Base.2': 'Base Artisan Smoker', 'Silver.2': 'Silver Artisan Smoker', 'Gold .2': 'Gold Artisan Smoker',
       'Iridium.2': 'Iridium Artisan Smoker', 'Fisher Base.2': 'Fisher Base Artisan Smoker', 'Fisher Silver.2': 'Fisher Silver Artisan Smoker', 'Fisher Gold.2': 'Fisher Gold Artisan Smoker',
       'Fisher Iridium.2': 'Fisher Iridium Artisan Smoker', 'Angler Base.2': 'Angler Base Artisan Smoker', 'Angler silver.2': 'Angler Silver Artisan Smoker', 'Angler gold.2': 'Angler Gold Artisan Smoker',
       'Angler Iridium.2': 'Angler Iridium Artisan Smoker'})

Now let's check our work and see how it all looks!

In [17]:
display(fish)
display(fish1)
display(fish2)

,Name,Base,Silver,Gold,Iridium,Fisher Base,Fisher Silver,Fisher Gold,Fisher Iridium,Angler Base,Angler silver,Angler gold,Angler Iridium
0,Pufferfish,200.0,250.0,300.0,400.0,250.00,312.50,375.00,500.0,300.0,375.0,450.0,600.0
1,Anchovy,30.0,37.0,45.0,60.0,37.50,46.25,56.25,75.0,45.0,55.5,67.5,90.0
2,Tuna,100.0,125.0,150.0,200.0,125.00,156.25,187.50,250.0,150.0,187.5,225.0,300.0
3,Sardine,40.0,50.0,60.0,80.0,50.00,62.50,75.00,100.0,60.0,75.0,90.0,120.0
4,Bream,45.0,56.0,67.0,90.0,56.25,70.00,83.75,112.5,67.5,84.0,100.5,135.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Mussel,30.0,37.0,45.0,60.0,37.50,46.25,56.25,75.0,45.0,55.5,67.5,90.0
57,Shrimp,60.0,0.0,0.0,0.0,75.00,0.00,0.00,0.0,90.0,0.0,0.0,0.0
58,Snail,65.0,0.0,0.0,0.0,81.25,0.00,0.00,0.0,97.5,0.0,0.0,0.0
59,Periwinkle,20.0,0.0,0.0,0.0,25.00,0.00,0.00,0.0,30.0,0.0,0.0,0.0
60,Oyster,40.0,50.0,60.0,80.0,50.00,62.50,75.00,100.0,60.0,75.0,90.0,120.0

,Name,Base Smoker,Silver Smoker,Gold Smoker,Iridium Smoker,Fisher Base Smoker,Fisher Silver Smoker,Fisher Gold Smoker,Fisher Iridium Smoker,Angler Base Smoker,Angler Silver Smoker,Angler Gold Smoker,Angler Iridium Smoker
0,Pufferfish,400.0,500.0,600.0,800.0,500.0,625.0,750.0,1000.0,600.0,750.0,900.0,1200.0
1,Anchovy,60.0,74.0,90.0,120.0,75.0,92.5,112.5,150.0,90.0,111.0,135.0,180.0
2,Tuna,200.0,250.0,300.0,400.0,250.0,312.5,375.0,500.0,300.0,375.0,450.0,600.0
3,Sardine,80.0,100.0,120.0,160.0,100.0,125.0,150.0,200.0,120.0,150.0,180.0,240.0
4,Bream,90.0,112.0,134.0,180.0,112.5,140.0,167.5,225.0,135.0,168.0,201.0,270.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Mussel,60.0,74.0,90.0,120.0,75.0,92.5,112.5,150.0,90.0,111.0,135.0,180.0
57,Shrimp,120.0,0.0,0.0,0.0,150.0,0.0,0.0,0.0,180.0,0.0,0.0,0.0
58,Snail,130.0,0.0,0.0,0.0,162.5,0.0,0.0,0.0,195.0,0.0,0.0,0.0
59,Periwinkle,40.0,0.0,0.0,0.0,50.0,0.0,0.0,0.0,60.0,0.0,0.0,0.0
60,Oyster,80.0,100.0,120.0,160.0,100.0,125.0,150.0,200.0,120.0,150.0,180.0,240.0

,Name,Base Artisan Smoker,Silver Artisan Smoker,Gold Artisan Smoker,Iridium Artisan Smoker,Fisher Base Artisan Smoker,Fisher Silver Artisan Smoker,Fisher Gold Artisan Smoker,Fisher Iridium Artisan Smoker,Angler Base Artisan Smoker,Angler Silver Artisan Smoker,Angler Gold Artisan Smoker,Angler Iridium Artisan Smoker
0,Pufferfish,600.0,750.0,900.0,1200.0,750.00,937.50,1125.00,1500.0,900.0,1125.0,1350.0,1800.0
1,Anchovy,90.0,111.0,135.0,180.0,112.50,138.75,168.75,225.0,135.0,166.5,202.5,270.0
2,Tuna,300.0,375.0,450.0,600.0,375.00,468.75,562.50,750.0,450.0,562.5,675.0,900.0
3,Sardine,120.0,150.0,180.0,240.0,150.00,187.50,225.00,300.0,180.0,225.0,270.0,360.0
4,Bream,135.0,168.0,201.0,270.0,168.75,210.00,251.25,337.5,202.5,252.0,301.5,405.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Mussel,90.0,111.0,135.0,180.0,112.50,138.75,168.75,225.0,135.0,166.5,202.5,270.0
57,Shrimp,180.0,0.0,0.0,0.0,225.00,0.00,0.00,0.0,270.0,0.0,0.0,0.0
58,Snail,195.0,0.0,0.0,0.0,243.75,0.00,0.00,0.0,292.5,0.0,0.0,0.0
59,Periwinkle,60.0,0.0,0.0,0.0,75.00,0.00,0.00,0.0,90.0,0.0,0.0,0.0
60,Oyster,120.0,150.0,180.0,240.0,150.00,187.50,225.00,300.0,180.0,225.0,270.0,360.0

Finally, time to save to disk for later use.

In [18]:
fish.to_parquet('file_path\Fish Only.parquet', engine='fastparquet')
fish1.to_parquet('file_path\Fish Smoker.parquet', engine='fastparquet')
fish2.to_parquet('file_path\Fish Artisan Smoker.parquet', engine='fastparquet')

This is the first step in an ongoing project. Next up will be establishing a web-based app that allows users to make queries to find how to maximize profits in their Stardew journey!